.contacts-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.links {
   margin: 65px auto 0;
}

.links h2 {
   font-size: 30px;
}

.links ul {
   list-style-type: none;
   display: flex;
}

.links li {
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 234px;
   margin: 10px 20px 10px 0;
   padding: 0 58.5px;
}

.links li a {
   border-radius: 30%;
   transition: all 0.2s ease-in-out;
}

.links li a:hover {
   transform: scale(1.2);
}

.links img {
   width: 117px;
   height: 117px;
}
