.footer_wrapper {
    max-width: 1340px;
    margin: 50px auto;
}

.top_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}

.copyright {
    color: rgb(194, 238, 223);
}

.documents_links {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    li {
        font-weight: 300;
        color: rgb(194, 238, 223);

        &:hover {
            color: rgb(255, 255, 255);
        }
    }
}
